{% extends "layout/base.html" %}
{% load humanize %}
{% block head %}
    {% include "layout/head.html" %}
{% endblock %}
{% block navi %}
    {% include "layout/navbar.html" %}
{% endblock navi %}
{% block header %}
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">장바구니</h1>
                <p class="lead fw-normal text-white-50 mb-0">cart summary</p>
            </div>
        </div>
    </header>
{% endblock header %}
{% block content %}
    <div class="container">
        {% if cart %}
            {% for item in cart %}<img src="{{ item.product.image.url }}" alt="...">{% endfor %}
        {% endif %}
    </div>
{% endblock content %}
{% block footer %}
    {% include "layout/footer.html" %}
{% endblock footer %}
