{% extends "layout/base.html" %}
{% load humanize %}
{% block head %}
    {% include "layout/head.html" %}
{% endblock %}
{% block navi %}
    {% include "layout/navibar.html" %}
    <div class="d-flex flex-column vh-100 justify-content-between">
    {% endblock %}
    {% block header %}
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Category</h1>
                    <p class="lead fw-normal text-white-50 mb-0">카테고리 페이지 입니다.</p>
                </div>
            </div>
        </header>
    {% endblock %}
    {% block content %}
        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8 my-5">
                        {% for category in categories %}
                            <h3 class="my-3">
                                <a href="#!">{{ category.name }}</a>
                            </h3>
                        {% endfor %}
                    </div>
                </center>
            </div>
        </div>
    {% endblock %}
    {% block footer %}
        {% include "layout/footer.html" %}
    </div>
{% endblock %}
